.login-container {
    /* To center the container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 80px 100px;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
}

input:focus {
    outline: none;
    border-bottom: 2px solid #3f51b5;
}

button {
    background-color: #fff;
    color: #333333;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 30px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #333;
    color: #fff;
}

button:active {
    background-color: #555;
    border-color: #555;
}


.login-title {
    margin-bottom: 30px;
}

.error-message {
    width: 100%;
    overflow: hidden;
    /* text-overflow; */
    white-space: nowrap;
    color: red;
}